pandas
numpy
dash
dash-bootstrap-components
dash-labs
glob2
SQLAlchemy
xlrd
alembic
openpyxl
XlsxWriter
waitress
uvicorn
gunicorn
urllib3
python-dotenv
cookiecutter
requests
PyMySQL
ipykernel
notebook
bs4
nltk
openai
retry
tiktoken
setuptools
scikit-learn
levenshtein
spacy
spacy-langdetect
dash_uploader
tabula-py
PyPDF2
pymupdf
fonttools